/* Import a custom font */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

/* Set some global styles for the body */
body {
  font-family: cursivessss;
  margin: 25;
  padding: 25px;;
  background-color: #b18acb;
}

/* Set styles for the root element */
#root {
  display: flex;
  justify-content:center;
  align-items:center;
  height: 100vh;
}
